/* body{
    background-color: white;
} */
.navbar{
    background-color:#037dd3;
}
.navbar img{
    width: 50px;
    height: 50px;
}
.navbar-brand{
    font-size: 1.1rem;
    font-family:'IBM Plex Mono', monospace;
    font-weight:bold;
    margin-left: 5px;
}
/* carousel */
.carousel-caption h3,.carousel-caption h5{
    font-family: 'Roboto', sans-serif;
    font-weight:700 ;
    color: #dedee7;
    text-shadow: 2px 1px 1px #555c7a;
}
/* quienes somos */
.sweet-blue {
    text-align: left;
    background: #2181c5;
    color: #ffffff;
    padding: 3.125rem;
    white-space: nowrap;
}
.sweet-blue h2, .sweet-blue h3, .sweet-blue h5, .sweet-blue p {
    font-family:'IBM Plex Mono', monospace;
   
    margin-bottom: 0.5em;
}
.centrado {
    width: 90%;
    margin: 0 auto;
}
/* .centrado img{
    display:none;
} */
  
.charla-speaker, .charla-texto, .evento {
    display: inline-block;
}
  
.charla-speaker{
    width: 25%;
    vertical-align: middle;

}
  
.charla-texto  {
    width: 75.5%;
    vertical-align: middle;
    margin-left: 5.5%;
    white-space: normal;
}
/* Footer */
footer{
    font-family:'IBM Plex Mono', monospace;
    
    font-weight: bold ;
    height: 74px;
    text-align: left;
    padding-left: 20px;
    background-color: #037dd3 ;
}
footer h2{
    font-size: 1.5rem;
}
footer p{
    color: #fff;
    /* margin-top: 25px;
    padding-top: 15px; */
}
footer a{
    color: #fff;
    
}
footer a:hover{
    color: #fff;
    text-decoration: none;
}